
<ion-item-group>
  <ion-toolbar>
  <ion-title>Info</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<br>


  <ion-item-divider>
    <ion-label>Guest Service</ion-label>
  </ion-item-divider>
<br>
  <ion-item>
    <ion-label>Park Hours and Directions</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Assisted access</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>FAQs</ion-label>
  </ion-item>

  <br>

  <ion-item-divider>
    <ion-label>Additional Information</ion-label>
  </ion-item-divider>
<br>
  <ion-item>
    <ion-label>Privacy</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Terms and Conditions</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>About the app</ion-label>
  </ion-item>
</ion-item-group>

