<ion-header [translucent]="true">
  <ion-title>Home</ion-title>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>



<ion-grid>
 
    <img src="../../../assets/images/mojmela.png" > 
    
    <ion-button class="rechargebutton" >Recharge</ion-button>
    
  

 
    <ion-button class="discountbutton" >Discounts</ion-button>
 
<br>
  
<ion-button class="ridebutton" >Rides</ion-button>


  
    <ion-button class="stallbutton" >Stalls</ion-button>
  
</ion-grid>